<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Welkom Admin</h2>
        </div>
        <div class="col-12">
            <h3>Dashboard</h3>
        </div>

        <div class="col-12 lijn pt-2">
            <!-- 
            <ul>
                <li *ngFor="let g of users">
                    {{g}}
                </li>
            </ul> -->
            <!-- <div class="col-12 pb-2">{{teller}}</div> -->


            <h3>Medewerkers</h3>
        </div>
        <div class="col-12">Voornaam</div>
        <input type="text" name="Voornaam" [(ngModel)] = 'voornaam' #vn><br>

        <div class="col-12 pt-3">Achternaam</div>
        <input type="text" name="Achternaam" #an>

        <div class="col-12 pt-3">Wachtwoord</div>
        <input type="text" name="Wachtwoord" #ww> <br>


        <div class="col-12 mt-2">
            <button (click)="addUser(vn,an,ww)" class="btn btn-primary mr-5">Opslaan</button>
            <button (click)='reset()'  class="btn btn-primary " [disabled]='knop()' >Reset</button>
        </div>
        <div>
            <app-user *ngFor="let g of gebruikers" [element]="g"></app-user>
        </div>

        <!-- loopt lijst af en drukt ze apart af -->

        <!-- 
            <ul>
                <li  *ngFor= "let g of users" >
                    {{g}}
                </li>
            </ul> -->

        <!-- <div class="col-12 pb-2">{{teller}}</div> -->
        <!-- <h3>Medewerkers</h3>
        </div>
        <div class="col-12">Medewerkers</div>
        <div class="col-12 pt-2"><input type="text" id="naam" [value]="naam" [(ngModel)]='naam' (change)='naamwijzig'>
        </div>
        <div class="col-12 pt-3">E-mail</div>
        <div class="col-12 pt-3"><input type="e-mail" id="mail" [value]="mail" [(ngModel)]='mail'></div>
        <div class="col-12 pt-3">Afbeelding</div>
        <div class="col-12 pt-3 pb-5"><input type="text" id="afb" [value]="afb"></div>
        <button (click)='gegevens()'> {{titel}}</button>
        <button (click)='reset()'>Reset</button>
        <div *ngIf= 'aan' class="col-12 pt-3" >

        <input type="text" [(ngModel)]='naam'>
        <input type="text" [(ngModel)]='mail'>
        <input type="text" [(ngModel)]='afb'> -->


        <!-- lijst met gebruikers  -->

    </div>
</div>