<div class="container pt-5 mt-5">

    <h1>Movie App</h1>
</div>
<div class="container">
    <input class="form-control mr-sm-2 " type="search" placeholder="Search" name="search" [(ngModel)]="titelSearch"
        aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)='zoeken()'>Search</button>
    <!-- www.omdbapi.com/?apikey=57d509c4&s=frozen -->

</div>

<div  *ngFor="let f of filterMovies">
    <h5 class=" p" > {{f.Title}}</h5>
<div>
    <img class="container" [src]="f.Poster" alt=""> 
</div>
    <p class="p"> {{f.Year}}</p>
</div>
