body{
    font-family:Arial;
    
    }
    .opmaak {
        display: block;
    background-color: darkorchid;
    color:white;
    margin:50px;
    padding:50px;
    width:150px;
    height:150px;
    border:5px solid black;
    text-align:center;
    }
    hr{
    margin-top:50px;
    }