h1{
    background-color: #075179 ;
    margin: 0;
color: white;
}
.deel1{
    display: flex;
}
nav ul{
width: 300px;

}

.con1{
    position: relative;
    background-image: linear-gradient( rgba(97,177,220,1), rgba(7,81,121,0.67) );
    border-right: 3px solid #075179;
    background-size: cover;
    z-index: 0;
}
.con2{
position: absolute;
background-image: url(../afb/sidebar-5.jpg);
height: 100%;
background-position: center;
width: 300px;
opacity: 0.3;
z-index: -1;
visibility: visible;

}
.center{
    text-align: center;
    color: #075179 ;
    padding: 0.5em;
}
nav ul li{
    position: relative;
    list-style-type: none;
    margin: 1em;
    padding: 1em;
    z-index: 99;

}
nav ul li:hover{
    background-color: #075179;
    color: white;
    border-radius: 5px;
}

.deel2{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    color: black;
}
footer{
    background-color: #075179;
    color: white;
padding-top: 0.5em;
padding-bottom: 0.5em;
padding-left: 1em;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: lightblue;
    }
    .con2{
        visibility: hidden;
    }
    nav ul{
        display:flex;

    }
    .deel1{
        display: block;
    }
    .con1{
        width: 100%;
    }
    .center{
        visibility: hidden;
        position: absolute;
    }
    nav ul li{
    }
  }
  @media only screen and (max-width: 520px){

      h1{
          text-align: center;
      }

      .con1{
          display: flex;
          justify-content: center;
      }
      nav ul{
          display: flex;
          flex-direction: column;
      }
      nav ul li{
          text-align: center;
      }
  }