body{
    background-image: url(../../afbeeldingen/mario_bg.jpg);
    background-repeat: no-repeat;
}


strong{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    
}
img{
 
    margin-left: 200px;
    margin-top: 230px;
    height: 50px;

}